/*------------------------------*/
/*==== General Styles Start ====*/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
/*==== General Styles End ====*/
/*----------------------------*/

/*---------------------*/
/*==== Fonts Start ====*/
@font-face {
	font-family: 'Montserrat-Regular';
	src: 
		url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/Montserrat-Regular.otf')  format('opentype'),
		url('../fonts/Montserrat-Regular.woff') format('woff'), 
		url('../fonts/Montserrat-Regular.ttf')  format('truetype'), 
		url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Light';
	src: 
		url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/Montserrat-Light.otf')  format('opentype'),
		url('../fonts/Montserrat-Light.woff') format('woff'), 
		url('../fonts/Montserrat-Light.ttf')  format('truetype'), 
		url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: 
		url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/Montserrat-Bold.otf')  format('opentype'),
		url('../fonts/Montserrat-Bold.woff') format('woff'), 
		url('../fonts/Montserrat-Bold.ttf')  format('truetype'), 
		url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*==== Fonts End ====*/
/*-------------------*/

/*----------------------*/
/*==== Header Start ====*/

/*==== Header End ====*/
/*--------------------*/

/*-------------------------------*/
/*==== Section #blocks Start ====*/

/*==== Section #blocks End ====*/
/*-----------------------------*/

/*---------------------------------*/
/*==== Section #features Start ====*/

/*==== Section #features End ====*/
/*-------------------------------*/

/*---------------------------------*/
/*==== Section #about-us Start ====*/

/*==== Section #about-us End ====*/
/*-------------------------------*/

/*---------------------------------*/
/*==== Section #our-work Start ====*/

/*==== Section #our-work End ====*/
/*-------------------------------*/

/*---------------------------------*/
/*==== Section #services Start ====*/

/*==== Section #services End ====*/
/*-------------------------------*/

/*---------------------------------*/
/*==== Section #purchase Start ====*/

/*==== Section #purchase End ====*/
/*-------------------------------*/

/*-----------------------------*/
/*==== Section #news Start ====*/

/*==== Section #news End ====*/
/*---------------------------*/

/*---------------------------------*/
/*==== Section #blocks-2 Start ====*/

/*==== Section #blocks-2 End ====*/
/*-------------------------------*/

/*--------------------------------*/
/*==== Section #pricing Start ====*/

/*==== Section #pricing End ====*/
/*------------------------------*/

/*-------------------------------------*/
/*==== Section #testimonials Start ====*/

/*==== Section #testimonials End ====*/
/*-----------------------------------*/

/*---------------------------------*/
/*==== Section #our-team Start ====*/
#our-team .team-head{
	text-align: center;
}
#our-team h3{
	font-family: 'Montserrat-Regular';
	font-size: 36px;
	color: #4e4e4e;
	margin-bottom: 16px;
}
#our-team .team-photo{
	width: 264px;
	height: 229px;
	background-color: #dae9e6;
}
#our-team .team-head>svg{
	width: 88px;
    height: 5px;
    margin-bottom: 70px;
}
#our-team .cls-1 {
    fill: #18cfab;
    fill-rule: evenodd;
    color: #18cfab;
}
#our-team .subtitle{
	font-family: 'Montserrat-Regular';
	font-size: 16px;
	color: #fff;
}
#our-team p{
	font-family: 'Montserrat-Regular';
	font-size: 13px;
	color: #18cfab;
	margin: 0;
}
#our-team ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}
#our-team .team-title{
	width: 264px;
	height: 79px;
	background-color: #2e4a5b;
	border-bottom: 1px solid #fff;
	padding-top: 22px;
	padding-left: 25px;
}
#our-team li{
	float: left;
	width: 66px;
	height: 65px;
	background-color: #2e4a5b;
	border-left: 1px solid #fff;
	padding-top: 25px;
}
#our-team li:first-child{
	border-left: none;
}
#our-team li>a{
	text-decoration: none;
	color: #fff;
}
#our-team .team-icons{
	text-align: center;
}
#our-team .team-cards{
	cursor: pointer;
	margin: 0;
	padding: 0;
}
#our-team .team-title:hover{
	background-color: #18cfab;
}
#our-team li:hover{
	background-color: #18cfab;
}
#our-team .team-title:hover>p.hover{
	color: #2e4a5b;
}
#our-team .team-photo:hover{
	background-color: #8c9aa3;
	background-image: url('../img/ellipse-team.png');
	background-position: center;
	background-repeat: no-repeat;
}




/*==== Section #our-team End ====*/
/*-------------------------------*/

/*-------------------------------------*/
/*==== Section #clean-design Start ====*/

/*==== Section #clean-design End ====*/
/*-----------------------------------*/

/*--------------------------------------*/
/*==== Section #keep-in-touch Start ====*/

/*==== Section #keep-in-touch End ====*/
/*------------------------------------*/

/*----------------------*/
/*==== Footer Start ====*/

/*==== Footer End ====*/
/*--------------------*/